<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
    <label for="name">Hero Name:</label>
    <input id="name" [(ngModel)]="hero.name" type="text" placeholder="name">
</div> -->
<!-- <div><span>name: </span>{{hero.name}}</div> -->
<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <button type="button" (click)="onSelectHero(hero)" [class.selected]="hero === selectedHero">
            <span class="badge">{{hero.id}}</span>
            <span class="name">{{hero.name}}</span>
        </button>
    </li>
</ul>
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details</h2>
    <div>id: {{selectedHero.id}}</div>
    <div>
        <label for="hero-name">Hero Name: </label>
        <input type="text" placeholder="name" id="hero-name" [(ngModel)]="selectedHero.name">
    </div>
</div>
